!!!
%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title= "FoodSoft - " + (yield(:title) or controller.controller_name)
    = stylesheet_link_tag "blueprint/screen"
    = stylesheet_link_tag "blueprint/print", :media => "print"
    = stylesheet_link_tag 'foodsoft'
    = stylesheet_link_tag "print", :media => "print"
    <!--[if lte IE 7]>
    = stylesheet_link_tag "blueprint/ie"
    = stylesheet_link_tag 'ie_hacks'
    <![endif]-->
    = javascript_include_tag 'prototype'
    = javascript_include_tag 'effects'
    = javascript_include_tag 'controls'
    = javascript_include_tag 'application'
    = javascript_include_tag('ordering') if (controller.controller_name == "ordering")
  %body
    #message
      #loader.loading(style="display:none") Lade...
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "message_text", :class => name
        = javascript_tag "$('message_text').fade({delay:5});"
    
    #logininfo= render :partial => 'shared/loginInfo'
    
    #header
      #logo
        %a{:href => "/"}
          <span>food</span>soft
        %span{:style => "color:white; font-size:45%; letter-spacing: -1px;"}= Foodsoft.config[:name]
      #nav= render :partial => 'layouts/main_tabnav'

    #main
      #content
        //#loader{:style => "display:none;"}= image_tag("loader.gif", :border => 0)
        - if yield(:title)
          %h1= yield(:title)
        = yield
    #ajax_box(style="display:none")